<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eb.ohrh.bfvadapt.debug"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--
While developing use eb.ohrh.bfvadapt.debug instead of eb.ohrh.bfvadapt as package name
and set the launcher-icon to ic_launcher_debug, which allows you to distinguish the
debug version from the productive version on your phone.

But note: Paraglider Dashboard will always try to connect to the productive service.
(Can be changed in expert mode. Drop me an email for that.)
    -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:icon="@drawable/ic_launcher_debug"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="eb.ohrh.bfvadapt.activity.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="eb.ohrh.bfvadapt.service.BFVAdapterService" >
        </service>
    </application>

</manifest>